@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

body {
  font-family: 'Tajawal', sans-serif;
  background-color: #2d545e;
  color: #fff;
}

pre {
  color: #fff;
  overflow: hidden;
}

.custom-tooltip {
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1em;
  line-height: 1.6;
  width: 15em;
}

.button-image {
  width: 35px;
}

footer {
  height: 3em;
  background-color: #d4d4d4;
  color: #000;
  border-top: 0.05rem solid #e5e5e5;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer-ul a {
  color: #000;
  text-decoration: none;
}
